   <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="bi bi-egg-fried"></i> FoodExpress
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#categories">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#popular">Популярное</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#how-it-works">Как это работает</a>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <button class="btn btn-order">
                            <i class="bi bi-bag"></i> Заказать
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>